/* color scheme

lilac: #f9d5e5 

very light brown: #eeac99

pink: #e06377

red: #c83349

*/

/* STYLING FOR NAV BAR */

/* gives the nav bar square corners, instead of the default rounded corners */

.navbar{
    border-radius: 0px;
}

/* changes color of nav bar to lilac */

.navbar-default{
    background-color: #f9d5e5;
}

/* changes the color of the lettering of Home, Gallery, Slide Show and Misc. to red */

.navbar-default .navbar-collapse .navbar-nav > li > a{
     color: #c83349;
}

/* gives the Home, Slide Show and Misc. tabs the color of very light brown when clicked on */

.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:hover, 
.navbar-default .navbar-nav .active a:focus {
    background-color: #eeac99;
}

/* gives the Gallery tag the color of very light brown when clicked on */

.navbar-default .navbar-nav > .open > a:focus {
    background-color: #eeac99;
}

/* changes color and size of the dropdown menu under Gallery */

.dropdown-menu{
    background-color: #eeac99;
    padding: 0px;
    border: 0px;
    margin: 0px;
}







/* styling for jumbotron on Home page */

.cover-page-jumbo{
    background-color: #c83349;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #f9d5e5;
}

@media only screen and (max-width: 660px) {
    .cover-page-jumbo h2, h4{
        font-size: 85%;
    }
}

/* the following gives the jumbrotron square corners, instead of the default rounded corners */

.container .jumbotron{
  border-radius: 0px;
}

.coverphoto{
    width: 100%;
    height: 100%;
    border: 4px solid #e06377;
}

/* resize image on Home  page */
.coverphoto img{
    width: 100%;
    height: auto; 
}

/* styling for Gallery pages */

#gallery-background{
    padding: 20px;
    background-color: #c83349;
}

@media only screen and (max-width: 992px) {
    .extra-padding {
        padding-bottom: 20px;
    }
}
   
/* change the size of the modals for images in the Gallery which are rotated when displayed in modal format */
.gallery-rotate {
        height: 620px;
        width: 600px;
}

/* rotate certain photos in the Gallery when they are displayed in modal format */
.gallery-rotate img {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    height: 450px;
    position: absolute;
    top: 80px;
}


/* center all img in slideshow */
.carousel-inner img{
    margin: auto;
}

/* STYLING FOR MISCELLANEOUS PAGE */

.color1{
    background-color: #eeac99;
    height: 100px;
    padding-top: 10px;
}

.color2{
    background-color: #e06377;
    height: 100px;
    padding-top: 10px;
}

.box7, .box8{
    height: 220px;
}

.last2lines{
    margin-left: 25px;
}
/* 
@media only screen and (max-width: 768px) {
    .box2 {display: none;}
    .box3 {display: none;}
    .box4 {background-color: #e06377;}
    .box6 {display: none;}
    .box7 {display: none;}
    .box8 {
        background-color: #e06377;
        font-size: 94%;
        height: 320px;}
    .last2lines {margin-left: 0px}
}
*/
.family-tree-jumbo{
    background-color: #f9d5e5;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}


.space-filler{
    min-height: 100px;
}


.fourgenerations img{
    width: 100%;
    height: auto;
    transform: rotate(-90deg);
}



.item img{
    width: 1024px;
    height: 500px;
}




/* styling for text in the familytree.html doc */

.withtext{
    text-align: center;
    border: 2px solid black;
}

.withsymbol{ 
    text-align: center;
}


.4generationsphoto{
    
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}